@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  src: url('./public/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  src: url('./public/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  src: url('./public/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  src: url('./public/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  font-style: normal;
  src: url('./public/fonts/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Russo-One-Regular';
  font-style: normal;
  src: url('./public/fonts/RussoOne-Regular.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
input {
  border: 1px solid #8c959f;
  outline: none;
}
input:focus {
  border: 1px solid #218bff;
}

body {
  width: 100%;
  font-family: 'Roboto-Regular', sans-serif;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #f2f3f7;
  transition: 0.3s;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 500px;
  margin: 0 auto;
}

.no-click {
  pointer-events: none;
}
